
form
{
	margin:auto;
	padding:15px;
}

form div svg
{
	padding-top:1px;
}

#a
{
	background:black;
	color:white;
	border-color:black;
}

#container
{
	margin:auto;
	text-align:center;
	background-image: url("1.jpg");
	width:450px;
	border-radius:20px;
	color:white;
}
a
{color:#CD225E;}
h3
{
	margin:auto;
	padding:15px;
}

#l
{
margin:auto;
text-align:center;
}